.header {
  padding: 24px 0;
  background: #20232a;

  h1 {
    color: #fff;
    text-align: center;

    img {
      display: inline-block;
      max-width: 240px;
    }

    span {
      display: block;
    }
  }
}